useDynLib(DriftBurstHypothesis, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, filter, var)
importFrom(xts, .indexDate, tzone, xts)
importFrom(zoo, index)
importFrom(grDevices, rgb)
importFrom(graphics, abline, axis, axis.POSIXct, legend, mtext, par, plot)
S3method(plot, DBH)
S3method(print, DBH)
S3method(getSigma, DBH)
S3method(getMu, DBH)
S3method(getDB, DBH)
export(drift_bursts, driftBursts, getMu, getSigma, getDB)
