useDynLib(DriftBurstHypothesis, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, filter)
importFrom(xts, .indexDate)
importFrom(zoo, index)
importFrom(grDevices, rgb)
importFrom(graphics, abline, axis, legend, mtext, par, plot)
S3method(plot, DBH)
S3method(getSigma, DBH)
S3method(getMu, DBH)
S3method(getDB, DBH)
export(drift_bursts, getMu, getSigma, getDB)
